* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  background-image: url("../images/cloudy.gif");
  background-size: cover;
}
.container {
  margin: auto;
  width: 80%;
}
h3 {
  color: #ffffff;
  font-size: 22px;
  margin: 3px 0;
}
h4 {
  color: #ececec;
  font-size: 18px;
  margin: 3px 0;
}
.nav {
  width: 100%;
  height: 55px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(48, 152, 236);
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.nav a:visited,
.nav a:active,
.nav a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  margin: 10px;
}

.page-title {
  margin-top: 70px;
}

form {
  display: flex;
}
button.form-submit {
  width: 70px;
  height: 40px;
  background-color: #eee;
  text-align: center;
  border: 1px solid #999;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

#forecast {
  display: none;
}

#forecast > div {
  margin: 5px 0;
}
input#address {
  height: 40px;
  padding: 0 1em;
  width: calc(100% - 70px);
  border: 1px solid #999;
}
#icon {
  background-color: #fff;
  border: 1px #393 solid;
}
