<html>
  <head>
    <title> new Project</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>

    <div class="nav">
      <a href="/">HOME</a>
      <a href="/service">SERVICE</a>
      <a href="/team">TEAM</a>
      <a href="/weather">WETHER</a>
    </div>

  </body>
</html>