<!DOCTYPE html>
<html>
      <head>
           <title>  new Project</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>

      <body>
             <h2>{{>header}}</h2>
             
           <h2> HBS {{title}} page content</h2>
           <form method="get">
            {{params.location}}
            <input type="text" name="location">
            <button type="submit">search</button>
           </form>
          
      </body>
</html>